body{
	font-family: Roboto Regular;
	width: 100em;
	height: 50em;
	margin-left: 2%;
	text-align: center;
}
a{
	font-size:28px;
	text-decoration: none;
	color: black;
}
.header{
	width: 100em;
	height: 5em;
	
}
.header a{
	padding:5px;
}
.header a:hover{
	color: #EC663B;
}
.body_contacts{
	
	margin-top: 2em;
	margin-left: 29em;
	font-size:20px;
	padding-left: 2em;
	text-align: left;
	width: 20em;
	border-radius: 10px;
	background-color: #c3dbda;
	border: 4px solid #436e6c;
}
.footer{
	
	width: 100em;
	height: 2em;
}
.footer p{
	font-size:16px;
	color: black;
}
.body_about p{
	
	font-size:20px;
}
.body_about a{
	font-size:20px;
}
.body_links p{
	
	font-size:20px;
}